/*
 * Переменные и миксины
*/
@import "../../bower_components/bootstrap/less/variables.less";
@import "../../bower_components/bootstrap/less/mixins.less";

/*
 * Переопределим дирикторию шрифтов
*/
@icon-font-path:          "dist/fonts/";

@import "../../bower_components/bootstrap/less/glyphicons.less";
@import "../../bower_components/bootstrap/less/modals.less";
@import "../../bower_components/bootstrap/less/tooltip.less";
@import "../../bower_components/bootstrap/less/popovers.less";

.main-block,
.one-block,
.two-block {
	@import "bootstrap";
}

/* flex */
.main-block  .container .row {
	display: flex;
	flex: 1;
	flex-direction: row;
	flex-wrap: wrap;
}
